.cont_main .float_left{
    float: left;
}
.cont_main .txt_uppapercase {
    text-transform: uppercase;
}
.cont_main .float_right_marg_5_0{
    float: right; margin: 5px 0 0 0;
}
.content {
    background-color: #252430 !important;
}
.header {
    height: 15vh;
}
.border_blanco {
    border: solid 2px #FFF;
}